{% extends "base.html" %}
{% block content %}
<header class="main-header">
	<a class="main-header__app-name" href="javascript:void(0)">Veritas</a>
	<div class="main-header__recruiter text-right">
		<p class="main-header__recruiter__greetings">Hello, <span class="main-header__recruiter__name" data-bind="text: userName">Usuario</span></p>
		<div class="main-header__recruiter__image">
			<div class="main-header__recruiter__image-circle">
				<img class="main-header__recruiter__github-image" data-bind="attr: { src: picture }">
			</div>
		</div>
	</div>
</header>
<section class="finder-cont">
	<form class="userForm">
		<div class="form-group input-githubuser">
			<input type="text" class="form-control input-username" id="" placeholder="Github username i.e cavilarts">
			<button class="btn btn-primary add-github__user">+</button>
		</div>
	</form>	
</section>
<h1 data-bind="text: indexData"></h1>
<section class="user-list" data-bind="css: { active: indexData }">
	<div class="user-list__user">
		<div class="user-image_cont">
			<div class="user-image_bg">
				<img class="user-image" data-bind="attr: { src: avatar_url }">
			</div>
		</div>
		<div class="user-data">
			<p class="user-data__username" data-bind="text: name || login">David Avellaneda</p>
			<p class="user-data__placed" data-bind="text: location">Bogotá, Colombia</p>
			<p class="user-data__website"><a data-bind="text: html_url, attr: { href: html_url }">http://monoku.com</a></p>
			<div>
				<a class="btn btn-primary userid" data-bind="attr:{ 'data-userid': login }">Calificar</a>
				<a class="btn btn-danger remove-user" data-bind="attr:{ 'data-userid': login }">Descartar</a>
			</div>
		</div>
	</div>	
	<div class="user-list__load-more">
		<button class="btn btn-default" type="submit">Load More +</button>

	</div>
</section>
<section class="section-qualify" data-bind="css: {active: userData}">
	<div class="section-qualify__close__cont">
		<a class="section-qualify__close" href="#">close</a>
	</div>
	<div class="user-list__user">
		<div class="user-image_cont">
			<div class="user-image_bg">
				<img class="user-image" data-bind="attr: { src: userData.avatar_url }">
			</div>
		</div>
		<div class="user-data">
			<p class="user-data__username" data-bind="text: userData.name || userData.login">David Avellaneda</p>
			<p class="user-data__placed" data-bind="text: userData.location">Bogotá, Colombia</p>
			<p class="user-data__website"><a data-bind="text: userData.html_url, attr: { href: userData.html_url }">http://monoku.com</a></p>
		</div>
	</div>
	<div class="laguages-cont">
		<h3 class="user-title">User languages</h3>
		<ul class="laguages-list" data-bind="foreach: languages">
			<li class="laguages-list__language">
				<p class="laguages-list__language__name" data-bind="text: $data"></p>
			</li>
		</ul>
	</div>
	<div class="statistics-cont">
		<h3 class="user-title">User statistics</h3>
		<h1 data-bind="text: codeMetrics.errorTypes.length"></h1>
		<div class="progress">
			<div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" data-bind="attr: {style: 'width: '+stargazers_count+'%'}, css: { 'progress-bar-success': stargazers_count > 79, 'progress-bar-warning': stargazers_count < 80, 'progress-bar-danger': stargazers_count < 20 }">
				<span >popularity</span>
			</div>
		</div>
		<div class="progress">
			<div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" data-bind="attr: {style: 'width: '+percentageBad+'%'}, css: { 'progress-bar-danger': percentageBad > 70, 'progress-bar-warning': percentageBad > 20, 'progress-bar-success': percentageBad < 20 }">
				<span >Error index</span>
			</div>
		</div>
		<div class="progress">
			<div class="progress-bar progress-bar-success progress-bar-striped" data-bind="attr: {style: 'width: '+Linespercentage+'%'}, css: { 'progress-bar-success': Linespercentage > 79, 'progress-bar-warning': Linespercentage < 80, 'progress-bar-danger': Linespercentage < 20 }">
				<span >Code style</span>
			</div>
		</div>
		
</div>	
</section>
<section class="default-errors">
	<div class="alert alert-danger" role="alert">
		<span class="sr-only">Error:</span>
		We can`t find this search
	</div>
</section>
<div class="mask">
			<div class="spinner"></div>
			<div class="spin-text">
				<p>Loading...</p>
				<p>You're  here!, the day just got better</p>
			</div>
		</div>
{% endblock %}
