.main-header
	background: $header-color
	padding: 1em

.main-header__app-name
	text-transform: uppercase
	color: $color-white
	font-size: 3em

	&:hover
		text-decoration: none

.main-header__recruiter
	color: $color-white
	display: inline-block
	// float: right
	margin-top: 1.5em

.main-header__recruiter__greetings
	display: inline-block
	vertical-align: top

.main-header__recruiter__name
	font-weight: bold

.main-header__recruiter__image
	display: inline-block
	vertical-align: top
	position: relative
	top: -10px

.main-header__recruiter__image-circle
	background: $color-white
	border-radius: 50%
	width: 41px
	height: 41px

.main-header__recruiter__github-image
	border-radius: 50%
	height: 40px
	width: 40px

.user-list
	background: $background-gray

.user-list__add-user__cont
	padding: 1em
	text-align: right

.user-list__add-user
	font-size: 2em
	background: $color-blue
	color: $color-white
	color: #FFF
	padding: 0.1em 0.3em
	line-height: 1

	&:hover
		background: $color-blue-dark
		color: $color-white
		text-decoration: none

.user-list__main-list
	list-style: none
	margin: 0
	padding: 0

.user-list__user
	padding: 0
	background: $color-white
	margin: 1em
	border: 1px solid $color-gray-soft
	padding: 1em
	border-radius: 5px

.user-image_cont
	display: inline-block
	vertical-align: top
.user-image_bg
.user-image
	width: 100px
	height: 100px

.user-data
	display: inline-block
	vertical-align: top

.input-githubuser
	width: 82%
	display: inline-block
	vertical-align: middle

.add-github__user
	display: inline-block
	vertical-align: middle

.finder-cont
	padding: 1em

.user-list__load-more
	text-align: center