{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8" />
		<title>Veritas Index</title>
		<link rel="stylesheet" href="{% static "css/index.css" %}" />
	</head>
	<body class="veritas-main" data-load-user="/user/" data-calc-user="/rank/">
		{% block content %}
		{% endblock %}
		<script data-main="{% static "js/conf" %}" src="{% static "bower_components/requirejs/require.js" %}"></script>
		<script type="text/javascript" src=""></script>
	</body>
</html>